#wc-word_wcw {
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
}

#wc-types_wct {
	display: inline-block;
}

.wct-type_wctt {
	display: inline-block;
	color: var(--l-blue);
	font-style: italic;
}

#wc-pronunciations_wcp {
	margin-top: 7px;
	margin-left: 15px;
}

.wcp-pronunciation_wcpp {
	margin-bottom: 15px;
}

.wcpp-language_wcppl, .wc-language_wcl {
	color: var(--l-dark-grey);
	font-size: 12px;
}

.wcpp-api_wcppa {
	font-family: var(--l-spacedfont);
	font-weight: bold;
}
/* CSS3 compatibility */
.wcpp-api_wcppa::after, .wcpp-api_wcppa::before {
	content:  '/';
}

/* CSS2 compatibility */
.wcpp-api_wcppa:after, .wcpp-api_wcppa:before {
	content:  '/';
}

#wordContainer_wc, #otherContainer_oc {
	display: inline-block;
}

#wordContainer_wc {
	float: left;
}

#otherContainer_oc {
	padding: 15px;
	margin-right: 50px;
	float: right;
	min-width: 500px;
	max-width: 700px;
}

#oc-translations_oct, #oc-definitions_ocd {
	margin-bottom: 25px;
}

#oct-title_octt, #ocd-title_ocdt, #ocs-title_ocst, #oca-title_ocat {
	font-weight: bold;
	font-size: 20px;
}

#ocs-title_ocst, #oca-title_ocat {
	margin-bottom: 5px;
}

.oct-translation_octt, .ocd-definition_ocdd {
	padding-left: 15px;
	margin-top: 7px;
	padding-bottom: 2px;
}

.octt-type_octtt, .ocdd-type_ocddt {
	color: var(--l-blue);
	font-style: italic;
	font-size: 17px;
	font-weight: bold;
}

.octt-translation_octtt, .octt-example_octte, .ocdd-definition_ocddd, .ocdd-example_ocdde {
	margin-left: 5px;
	font-size: 15px;
}

.octt-example_octte, .ocdd-example_ocdde {
	color: var(--l-dark-grey);
	font-style: italic;
}

/* CSS3 compatibility */
.octt-example_octte::before, .ocdd-example_ocdde::before {
	content: '– ';
}


/* CSS2 compatibility */
.octt-example_octte:before, .ocdd-example_ocdde:before {
	content: '– ';
}

#wc-googleTips_wcgt {
	color: var(--l-middle-grey);
}

#wc-googleTips_wcgt > a, .ocs-synonym_ocss, .oca-antonym_ocaa {
	color: var(--l-blue);
	text-decoration: none;
}

#wc-googleTips_wcgt > a:hover, .ocs-synonym_ocss:hover, .oca-antonym_ocaa:hover {
	text-decoration: underline;
}

.ocs-synonym_ocss, .oca-antonym_ocaa {
	display: block;
	font-weight: bold;
}

.ocs-synonym_ocss::before, .oca-antonym_ocaa::before {
	content: '・ ';
	color: black;
}

/* CSS2 compatibility */
.ocs-synonym_ocss:before, .oca-antonym_ocaa:before {
	content: '・ ';
	color: black;
}

audio {
	margin: 15px 0;
	display: block;
}

#oc-antonyms_oca, #oc-synonyms_ocs {
	display: inline-block;
	padding: 7.5px;
	padding-bottom: unset;
	vertical-align: top;
	border: 0.5px solid var(--l-middle-grey);
	border-bottom: none;
	font-size: initial;
}

@media only screen and (max-width:  958px) {
	#otherContainer_oc {
		min-width: 0;
		max-width: auto;
	}
}

@media only screen and (max-width: 768px) {
	#wordContainer_wc, #otherContainer_oc {
		display: block;
	}

	#otherContainer_oc {
		float: left;
		margin-right: 0px;
		min-width: 0;
		max-width: auto;
	}
}